body {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background: #cecece;
}

img {
  float: right;
  height: 170px;
  width: auto;
  margin-right: 70px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  display: inline;
}

.clear{
  clear:both;
}

.main{
  width:1440px;
}

.top {
  font-family: 'PT Sans Narrow', sans-serif;
  background: #EFEFEF;
  border-radius: 10px;
  border: 1px solid #767676;
  box-shadow: 10px 10px 5px #888888;
  width: 1060px;
  margin: 30px auto 10px auto;
  height: 170px;
  padding: 20px;
}

.bottom {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 1060px;
  height: auto;
  padding: 0px;
  margin: 30px auto 10px auto;
}

.left {
  float:left;
  border-radius: 10px;
  border: 1px solid #767676;
  box-shadow: 10px 10px 5px #888888;
  width: 170px;
  margin: 0px 10px 20px 0px;
  background: #EFEFEF;
  text-align: left;
  padding: 20px 20px 20px 20px;
  color: #767676;
}

.right{
  float:right;
  border-radius: 10px;
  border: 1px solid #767676;
  box-shadow: 10px 10px 5px #888888;
  margin: 0px 0px 20px 0px;
  width: 800px;
  background: #EFEFEF;
  text-align: center;
  padding-top: 20px;
}

#navigation {
  text-transform: uppercase;
  background-color: #86C5DA;
  border-radius: 10px;
  width: 120px;
  height: auto;
  margin: 7.5px 20px 7.5px 20px;
  border: 1px solid #767676;
  padding: 5px 0px 5px 0px;
  font-weight: 500;
  color: white;
}

.button {
  width: 80px;
  height: auto;
  text-align: center;
  color: white;
  border: 1px solid #767676;
  border-radius: 10px;
  margin: 20px 40px 20px 40px;
  padding: 5px 0px 5px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.button:hover, .buttontop:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.buttontop {
  width: 120px;
  height: auto;
  text-align: center;
  border: 1px solid #767676;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  margin: 0px 25px 0px 25px;
  font-size: 20px;
  line-height: 20px;
}

h1 {
  width: 400px;
  margin: 30px 0px 0px 180px;
  display: inline-block;
  font-size: 56px;
  background-color: #CAEBF2;
  padding: 20px;
  border-radius: 10px;
  color: #767676;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;

}
