<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Panda Audio</title>
  <meta charset="UTF-8">
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
</head>

<body>
<div id="pageWrapper">
  <div id="pandaLogo">
    <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'/>
  </div>

  <div id="menu">
    <a class="menuOption" href="index.html">Home</a>
    <a class="menuOption" href="midibeam.html">midiBeam</a>
    <a class="menuOption" href="fi.html">Future Impact</a>
    <a class="menuOption" href="designs.html">Designs</a>
    <a class="menuOption selected" href="about.html">About us</a>
    <a class="menuOption" href="midiguitar.html">MidiGuitar FAQ</a>
    <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
  </div>

  <div id="contentWrapper" align="left">
    <div class="fullpage_content">
      <div class="bar barTop">&nbsp;</div>

      <h3 class="contentParagraph">
        Developers
      </h3>

      <p class="contentParagraph">
        <b><a href="andras_szalay.html">Andr&aacute;s Szalay</a></b>,
        the founder and CEO of Panda Audio Kft, is responsible for
        hardware system design and DSP algorithm development within
        Panda Audio.
      </p>

      <p class="contentParagraph">
        <b><a href="zoltan_janosy.html">Zolt&aacute;n J&aacute;nosy</a></b>
        is currently responsible for the software system design and
        the development of the user interface firmware.
      </p>

      <p class="contentParagraph">
        <b>Zsolt Rammer</b> joined Panda-Audio early 2015. He has a very wide
        spectrum of activities covering practically everything in connection
        with the development of musical instruments, especially guitar effects.
        He can do hardware design, PCB design, building his own prototypes.
        But his most important activity is writing guitar effect algorithms
        and user interfaces on all possible platforms (PC, MAC, IOS).
        He released amazing guitar effect plugin series under the brand
        name <a href="http://www.audiorammer.com/site/" target="_blank">audiorammer</a>.
      </p>

      <p class="contentParagraph">
        <b>George Peng</b> joined Panda-Audio formally in 2016, but he did the
        PCB and 3D mechanical design of all products and prototypes
        since 2010. Beyond these activities he has experience in hardware
        and software development and web programming. He is responsible for
        the production management of Panda-Audio’s own products.
      </p>

      <div class="bar">&nbsp;</div>

      <h3 class="contentParagraph">
        Contact
      </h3>

      <p class="contacts">
        Panda Audio Kft.<br>
        2040 Buda&ouml;rs,<br>
        Sz&eacute;chenyi u. 8. <br>
        Hungary <br>
        Tel: +36-23-441071 <br>
        Email: info@panda-audio.com
      </p>

      <div class="bar barBottom">&nbsp;</div>
    </div>

    <div class="images">

    </div>

  </div>
</div>
</body>
</html>
