<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Panda Audio</title>
  <meta charset="UTF-8">
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
</head>

<body>
<div id="pageWrapper">
  <div id="pandaLogo">
    <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'/>
  </div>

  <div id="menu">
    <a class="menuOption" href="index.html">Home</a>
    <a class="menuOption" href="midibeam.html">midiBeam</a>
    <a class="menuOption" href="fi.html">Future Impact</a>
    <a class="menuOption" href="designs.html">Designs</a>
    <a class="menuOption" href="about.html">About us</a>
    <a class="menuOption" href="midiguitar.html">MidiGuitar FAQ</a>
    <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
  </div>

  <div id="contentWrapper" align="left">
    <div class="content">
      <div class="bar barTop">&nbsp;</div>

      <h3 class="contentParagraph">
        András Szalay
      </h3>

      <p class="contentParagraph">
        Andr&aacute;s Szalay, has an M.Sc. in Physics from Kossuth
        University, Debrecen, Hungary (1976). He has also been a
        former member of the progressive rock group
        <a href="http://panta-rhei.hu">Panta Rhei</a>.
      </p>

      <p class="contentParagraph">
          1980-1985 Chief Engineer, Muzix, Hungary <br>
          1986-1987 Chief Engineer, Shadow, Germany <br>
          1988-1993  Engineer, Wersi, Germany <br>
          1994-1997 Chief Engineer, Blue Chip Music, Germany <br>
          1998-2005 Chief Engineer, AKAI professional, Japan <br>
          1998- Chief Engineer, Panda Audio Kft., Hungary <br>
      </p>

      <p class="contentParagraph">
        With Panta Rhei he designed and built much of the band's equipment, including
        various analog synthesizers, and sequencers as well as mixing consoles and effects.
      </p>

      <p class="contentParagraph">
        He has been the inventor and principal designer of the Sinclair ZX81-based
        <a href="http://www.retrothing.com/2009/03/muzix81-sinclair-based-music-system-.html">
          MUZIX 81</a> sequencer and digital audio processor (1981). The system was
        <a href="pdf/escm-muzix-1984.pdf">widely used</a> in Europe from Hungary (Gabor Presser,
        Omega, PR Computer) to Germany (Frank Farian) and the UK. The software still exists,
        and is described and downloadable from
        <a href="http://www.sinclair.hu/hardver/periferia81/muzix81/">here</a>.
      </p>

      <p class="contentParagraph">
        He also designed several guitar synthesizers: the first one for Shadow (1986),
        and later the neural net based
        <a href="http://www.axontechnologies.de/">AXON</a>
        series for Blue Chip Music (1994), then Axon Technologies. After Yamaha has licensed
        the technology of the AXON, Andr&aacute;s developed the processing engine of the
        <a href="http://usa.yamaha.com/products/music-production/midi-controllers/g50/?mode=model">
          Yamaha G50</a> guitar synthesizer.
      </p>

      <p class="contentParagraph">
        At Wersi he was responsible for the design of ASICs and the development of
        system software for Wersi's CFP-1 digital piano. He also created several unique
        data compression algorithms for storing digital audio samples, based on the
        Karhunen-Loeve transform.
      </p>

      <p class="contentParagraph">
        During the collaboration with AKAI Professional he has been Chief Software
        Engineer of the Hungarian engineering team and has been responsible for the design
        and development of several products of AKAI professional, like the electronics for
        the EWI Wind controllers.
      </p>

      <p class="contentParagraph">
        He has invented the "Acoustic Imaging Technology", currently used in the
        Aura product line of Fishman Transducers.
      </p>

      <p class="contentParagraph">
        Later he got interested in the application of wireless systems for
        professional audio products and musical instruments. He has developed the
        prototype of a wireless MIDI interface, the <a href="midibeam.html">midiBeam</a>
        and also a new, wireless guitar to MIDI interface, the Fishman Triple Play, also
        used by the legendary <a href="http://www.johnmclaughlin.com/equipment/">John
        McLaughlin</a> (see photo of John and Andras).
      </p>

      <p class="contentParagraph">
        Most recently he developed the Future Impact bass guitar synthesizer.
      </p>

      <div class="bar">&nbsp;</div>

      <h3 class="contentParagraph">
        Links
      </h3>

      <p class="contentParagraph">
        <ul>
          <li>
            <a href="http://www.sinclair.hu/hardver/periferia81/muzix81/">Muzix81
            documentation</a>
          </li>
          <li>
            <a href="pdf/escm-muzix-1984.pdf">Muzix81 in Electronic Soundmaker
            and Electronic Music (UK, 1984)</a>
          </li>
          <li>
            <a href="pdf/muzix81-keyboards-feb-1985.pdf">Muzix81 in Keyboards
            (Germany, Feb 1985)</a>
          </li>
          <li>
            <a href="pdf/wersi-keyboard-aug-1992.pdf"> Jim Aikin's review of the
            Wersi CPF-1 in Keyboard (Aug 92)</a>
          </li>
          <li>
            <a href="pdf/axon-flyer.pdf">Flyer for the Blue Chip Music Axon
            NGC66 system (1994) </a>
          </li>
        </ul>
      </p>

      <div class="bar barBottom">&nbsp;</div>
    </div>

    <div class="images">
      <p class="imageDisplay">
        <img src='../static/images/muzix81.jpg' width="200"/>
      </p>
      <p class="imageDisplay">
        <img src='../static/images/axon-ngc77-sml.jpg'/>
      </p>
      <p class="imageDisplay">
        <img src='../static/images/yamaha-G50-sml.jpg'/>
      </p>
      <p class="imageDisplay">
        <img src='../static/images/wersi-cpf-1-sml.jpg'/>
      </p>
      <p class="imageDisplay">
        <img src='../static/images/akaipro-ewi.jpg'/>
      </p>
      <p class="imageDisplay">
        <img src='../static/images/fishmanaura.jpg'/>
      </p>
      <p class="imageDisplay">
        <img src='../static/images/john_andras_sml.jpg' width="250"/>
      </p>
    </div>

  </div>
</div>
</body>
</html>