<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Panda Audio</title>
  <meta charset="UTF-8">
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
</head>

<body>
<div id="pageWrapper">
  <div id="pandaLogo">
    <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'/>
  </div>

  <div id="menu">
    <a class="menuOption" href="index.html">Home</a>
    <a class="menuOption" href="midibeam.html">midiBeam</a>
    <a class="menuOption" href="fi.html">Future Impact</a>
    <a class="menuOption selected" href="designs.html">Designs</a>
    <a class="menuOption" href="about.html">About us</a>
    <a class="menuOption" href="midiguitar.html">MidiGuitar FAQ</a>
    <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
  </div>

  <div id="contentWrapper" align="left">
    <div class="fullpage_content">
      <div class="bar barTop">&nbsp;</div>

      <h3 class="contentParagraph">
        Products developed by Panda Audio
      </h3>

      <p class="contentParagraph">
        While Panda-Audio designed prototypes of these
        products and developed all the embedded firmware
        for them, the final products are results of joint
        work with the engineers of the excellent Fishman
        design team, or for the earlier products with the
        AKAI team in Japan.
      </p>

      <h4 class="contentParagraph">
        Fishman Transducers
      </h4>
      <p class="contentParagraph">
        <ul>
          <li class="contentParagraph">
            <a href="http://www.fishman.com/products/series/aura/">Aura Acoustic Imaging product line</a>
            (Ellipse, Onboard, <br>
            Pro, Imaging Blender, Imaging Pedal, Sixteen, Spectrum DI)
          </li>
          <li class="contentParagraph">
            <a href="http://www.fishman.com/tripleplay">Triple Play</a>
            Wireless Guitar Controller
          </li>
          <li class="contentParagraph">  AFX Acoustic Effect Pedal product line<br>
            (<a href="http://www.fishman.com/products/view/afx-reverb-acoustic-effects-pedal">Reverb</a>,
            <a href="http://www.fishman.com/products/view/afx-chorus-acoustic-effects-pedal">Chorus</a>,
            <a href="http://www.fishman.com/products/view/afx-delay-acoustic-effects-pedal">Delay</a>)
          </li>
          <li class="contentParagraph">
            <a href="http://www.fishman.com/products/view/fission-bass-powerchord-fx-pedal">Fission Bass</a>
            Powerchord Effect Pedal
          </li>
        </ul>
      </p>

      <div class="bar">&nbsp;</div>

      <h4 class="contentParagraph">
        AKAI pro/AKAI professional
      </h4>
      <p class="contentParagraph">
        <ul>
          <li class="contentParagraph">
            <a href="http://www.akaipro.com/deepimpact">Deep Impact</a> Synthbass pedal
          </li>
          <li  class="contentParagraph">
            <a href="http://www.akaipro.com/unibass">Unibass Harmonised Bass</a> Distortion pedal
          </li>
          <li  class="contentParagraph">
            <a href="http://www.akaipro.com/dps16">DPS16 Hard disk Recorder</a>(FX section control and a number of audio effects)
          </li>
          <li  class="contentParagraph">
            <a href="http://www.akaipro.com/z4">Z4/8 Sampler</a> (FX section control and a number of audio effects)
          </li>
          <li  class="contentParagraph">
            <a href="http://www.akaipro.com/hv1">HV1 DuoBuddy</a> and HV10 DecaBuddy Vocal Harmonizers
          </li>
          <li class="contentParagraph">
            <a href="http://www.akaipro.com/rotator">Rotator</a>
            /<a href="http://www.akaipro.com/pitchright">PitchRight</a>
            /<a href="http://www.akaipro.com/deccabuddy">DecaBuddy</a>
            /<a href="http://www.akaipro.com/quadcomp">QuadComp</a> VST plugins
          </li>
          <li class="contentParagraph">
            <a href="http://www.akaipro.com/ewi4000s">EWI4000s Electronic Wind Synthesizer</a>
          </li>
          <li class="contentParagraph">
            <a href="http://www.akaipro.com/ewiusb">EWI USB Electronic Wind Controller</a>
          </li>
          <li class="contentParagraph">
            MP3 player module based on a standard ASIC
          </li>
          <li class="contentParagraph">
            MP3 recorder module based on an austriamicrosystems ARM-core SoC
          </li>
        </ul>
      </p>

      <div class="bar">&nbsp;</div>

      <p class="contentParagraph">
        <h4 class="contentParagraph">
          Panda-Audio label
        </h4>
        <ul>
          <li class="contentParagraph">
            <a href="midibeam.html">midiBeam</a>
            wireless MIDI interface
          </li>
          <li class="contentParagraph">
            <a href="fi.html">Future Impact</a>
            bass guitar synthesizer and analog modeling MIDI expander.
          </li>
        </ul>
      </p>

      <div class="bar barBottom">&nbsp;</div>
    </div>

    <div class="images">
    </div>

  </div>
</div>
</body>
</html>
