<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Panda Audio</title>
  <meta charset="UTF-8">
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
</head>

<body>
<div id="pageWrapper">
  <div id="pandaLogo">
    <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'/>
  </div>

  <div id="menu">
    <a class="menuOption" href="index.html">Home</a>
    <a class="menuOption" href="midibeam.html">midiBeam v2 Wireless</a>
    <a class="menuOption" href="midibeam_4control.html">midiBeam 4Control</a>
    <a class="menuOption" href="fi.html">Future Impact</a>
    <a class="menuOption" href="designs.html">Designs</a>
    <a class="menuOption" href="about.html">About us</a>
    <a class="menuOption" href="midiguitar.html">MidiGuitar FAQ</a>
    <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
  </div>

  <div id="contentWrapper" align="left">
    <div class="content">
      <div class="bar barTop">&nbsp;</div>

      <h3 class="contentParagraph">
        Zoltán Jánosy
      </h3>
      <p class="contentParagraph">
        Zoltán Jánosy, M.Sc. El. Eng. (member of the vocal group "Négyes-Hatos")
      </p>
      <p class="contentParagraph">
        1992 Graduated from the Technical University of Budapest
        1992-1995 Ph.D. student at the Technical University of Budapest
        1995-1996 Research Assistant at the Technical University of Budapest
        1996-2000 Senior Software Engineer, Appaloosa Online/Software Kft.
        2000- Embedded Software Engineer, Panda Audio Kft.        
      </p>
      <p class="contentParagraph">
        Zoltán Jánosy joined Panda Audio in 2000. Before that he has been studying and working at the Technical University of Budapest. As a student, he won several competitions and prizes. His primary interest was in digital signal processing and sound synthesis (low bit-rate speech coding, physical modeling-based musical sound synthesis and audio compression). He has studied with several prominent researchers in the field (Matti Karjalainen and Vesa Välimäki at the Helsinki University of Technology, Karlheinz Brandenburg at the Fraunhofer Institute).
      </p>
      <p class="contentParagraph">
        At Appaloosa he has been involved in developing 3D graphics software for video game consoles. He was one of the principal developers of an in-house 3D game engine. He has extensive expertise in both C/C++ and low-level assembly programming for embedded systems.
      </p>
      <p class="contentParagraph">
        At Panda Zoltán Jánosy is currently responsible for the software system design and the development of the user interface firmware. Recently he got interest in wireless technology. He is currently involved in the research and development of a new wireless audio product line for professional audio applications for Fishman Transducers, Inc.
      </p>

      <div class="bar barBottom">&nbsp;</div>
    </div>

    <div class="images">
    </div>

  </div>
</div>
</body>
</html>